In [1]:
#SOURCE:: https://www.datacamp.com/community/tutorials/deep-learning-python

# Import libraries 
import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix

from keras.models import Sequential
from keras.layers.core import Dense, Activation

Using TensorFlow backend.

In [2]:
# Read in white wine data 
white = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv", sep=';')

white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
# Read in red wine data 
red = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv", sep=';')

red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [4]:
# Add `type` column to `red` with value 1
red['type'] = 1

# Add `type` column to `white` with value 0
white['type'] = 0

In [5]:
wines = red.append(white, ignore_index=True)

wines.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [6]:
#features in X
X = wines.loc[:,"fixed acidity":"alcohol"]

In [7]:
#labels in y; flatten using np.ravel
y = np.ravel(wines.type)
y = y.reshape(len(y),1)
y.shape

(6497, 1)

In [8]:
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size = 0.30, random_state = 37)

In [9]:
#pre_process data
X_train = StandardScaler().fit_transform(X_train)
X_test = StandardScaler().fit_transform(X_test)

In [10]:
#Initialize the model
model = Sequential()

model.add(Dense(12, activation = 'relu', input_shape = (11,)))
model.add(Dense(8, activation = 'relu'))
model.add(Dense(1, activation = 'sigmoid'))

In [11]:
model.compile(loss = 'binary_crossentropy',
             optimizer = 'adam',
             metrics = ['accuracy'])

In [12]:
model.fit(X_train, Y_train, epochs = 10, batch_size = 4, verbose = 1)

Epoch 1/10
4547/4547 [==============================] - 1s 202us/step - loss: 0.1963 - acc: 0.9314
Epoch 2/10
4547/4547 [==============================] - 1s 191us/step - loss: 0.0345 - acc: 0.9923
Epoch 3/10
4547/4547 [==============================] - 1s 171us/step - loss: 0.0256 - acc: 0.9952
Epoch 4/10
4547/4547 [==============================] - 1s 149us/step - loss: 0.0224 - acc: 0.9949
Epoch 5/10
4547/4547 [==============================] - 1s 157us/step - loss: 0.0201 - acc: 0.9960
Epoch 6/10
4547/4547 [==============================] - 1s 170us/step - loss: 0.0186 - acc: 0.9956
Epoch 7/10
4547/4547 [==============================] - 1s 173us/step - loss: 0.0173 - acc: 0.9965
Epoch 8/10
4547/4547 [==============================] - 1s 210us/step - loss: 0.0163 - acc: 0.9960
Epoch 9/10
4547/4547 [==============================] - 1s 205us/step - loss: 0.0146 - acc: 0.9967
Epoch 10/10
4547/4547 [==============================] - 1s 177us/step - loss: 0.0139 - acc: 0.9965

In [13]:
Y_pred = model.predict(X_test)

In [14]:
loss, accuracy = model.evaluate(X_test, Y_test, verbose = 0)
print("Accuracy = {:.2f}".format(accuracy))

Accuracy = 0.99

In [15]:
print("Confusion Matrix:\n",confusion_matrix(Y_test, Y_pred.round()))

Confusion Matrix:
 [[1472    5]
 [   5  468]]